[submodule "src/modules/jetlinks-aliyun-bridge-gateway-ui"]
	path = src/modules/jetlinks-aliyun-bridge-gateway-ui
	url = git@github.com:jetlinks-v2/jetlinks-aliyun-bridge-gateway-ui.git
[submodule "src/modules/jetlinks-dueros-ui"]
	path = src/modules/jetlinks-dueros-ui
	url = https://github.com/jetlinks-v2/jetlinks-dueros-ui
[submodule "src/modules/jetlinks-media-ui"]
	path = src/modules/jetlinks-media-ui
	url = https://github.com/jetlinks-v2/jetlinks-media-ui
[submodule "src/modules/rule-engine-manager-ui"]
	path = src/modules/rule-engine-manager-ui
	url = https://github.com/jetlinks-v2/rule-engine-manager-ui
[submodule "src/modules/network-card-manager-ui"]
	path = src/modules/network-card-manager-ui
	url = https://github.com/jetlinks-v2/network-card-manager-ui
[submodule "src/modules/datasource-manager-ui"]
	path = src/modules/datasource-manager-ui
	url = https://github.com/jetlinks-v2/datasource-manager-ui
[submodule "src/modules/data-collector-ui"]
	path = src/modules/data-collector-ui
	url = https://github.com/jetlinks-v2/data-collector-ui
[submodule "src/modules/notify-manager-ui"]
	path = src/modules/notify-manager-ui
	url = https://github.com/jetlinks-v2/notify-manager-ui
[submodule "src/modules/device-manager-ui"]
	path = src/modules/device-manager-ui
	url = https://github.com/jetlinks-v2/device-manager-ui
