[submodule "src/modules/jetlinks-aliyun-bridge-gateway-ui"]
	path = src/modules/jetlinks-aliyun-bridge-gateway-ui
	url = https://github.com/jetlinks-v2/jetlinks-aliyun-bridge-gateway-ui
[submodule "src/modules/jetlinks-dueros-ui"]
	path = src/modules/jetlinks-dueros-ui
	url = https://github.com/jetlinks-v2/jetlinks-dueros-ui
[submodule "src/modules/jetlinks-media-ui"]
	path = src/modules/jetlinks-media-ui
	url = https://github.com/jetlinks-v2/jetlinks-media-ui
[submodule "src/modules/rule-engine-manager-ui"]
	path = src/modules/rule-engine-manager-ui
	url = https://github.com/jetlinks-v2/rule-engine-manager-ui
