[submodule "src/modules/jetlinks-aliyun-bridge-gateway-ui"]
	path = src/modules/jetlinks-aliyun-bridge-gateway-ui
	url = https://github.com/jetlinks-v2/jetlinks-aliyun-bridge-gateway-ui
[submodule "src/modules/jetlinks-dueros-ui"]
	path = src/modules/jetlinks-dueros-ui
	url = https://github.com/jetlinks-v2/jetlinks-dueros-ui
