{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "experimentalTernaries": false,
  "vueIndentScriptAndStyle": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto"
}
