@spacing-unit: 12px;

.terms-group-container {
  width: 100%;
  position: relative;

  .term-group-border {
    padding: 6px 12px;
    border: 1px dashed #e0e0e0;
    border-radius: 6px;
  }

  .term-delete-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: #f1f1f1;
    color: #999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.2s ease;
    z-index: 10;
    &:hover {
      background: #f3f3f3;
    }
  }

  .term-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    width: 24px;
    height: 24px;
    color: rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      border-color: #1890ff;
      color: #1890ff;
      background: #e6f7ff;
    }

    // + 符号
    &::before {
      content: "+";
      font-size: 20px;
      line-height: 1;
      margin-top: -5px;
      margin-left: -1px;
    }
  }

  .connect-text {
    padding: 4px 8px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    cursor: pointer;
    flex-shrink: 0;
    user-select: none;
    margin: 0 2px;
  }

  .term-item-box {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: @spacing-unit;
  }

  .terms-scroll-area {
    overflow-x: auto;
    overflow-y: hidden;
    padding: @spacing-unit 0;

    // 美化滚动条
    &::-webkit-scrollbar {
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &:hover::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .term-item {
    position: relative;
    display: flex;
    align-items: center;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    flex-shrink: 0;
    cursor: default;

    &.can-delete:hover {
      border-color: #d1d5db;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

      // 悬停时显示删除按钮
      >.term-delete-btn {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

