.border-box {
  border-radius: 8px;

  :deep(.ant-select-selector) {
    border-radius: 8px;
    border: 1px solid rgba(0, 164, 254, 0.3);
    color: #00a4fe;
    background-color: rgba(154, 219, 255, 0.3);

    .ant-select-selection-placeholder {
      color: #00a4fe;
      padding-inline-end: 0;
    }
  }

  &.terms-type {
    :deep(.ant-select-selector) {
      color: #13C2C2;
      background: rgba(135, 232, 222, 0.3);
      border-color: rgba(54, 207, 201, 0.4);

      .ant-select-selection-placeholder {
        color: #13C2C2;
      }
    }

  }

  &.terms-value {
    color: #692ca7;
    border: 1px solid rgba(188, 125, 238, 0.5);
    background-color: rgba(188, 125, 238, 0.1);
  }

  :deep(.ant-select-selection-item) {
    padding-inline-end: 0
  }
}
