@font-face {
  font-family: AliRegular;
  src: url("/fonts/AlibabaPuHuiTi-2-55-Regular.woff2") format("woff2"),
      url("/fonts/AlibabaPuHuiTi-2-55-Regular.woff") format("woff");
}

body {
  font-family: 'AliRegular' !important;
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0
}
